$text-color: rgba(0, 0, 0, 0.6);
$text-color-darkbg: rgba(0, 0, 0, 0.4);

$bg-lightgray: rgb(246, 248, 250);
$background-btn: rgba(208, 215, 222, 0.4);
$background-btn-hover: rgba(208, 215, 222, 0.2);

$box-shadow: rgba(0, 0, 0, 0.08);

$border-blue: rgb(173, 216, 230);
$border-lightblue-hover: rgba(173, 216, 230, 0.1);
